<section class="home-container">
	
	<div class="hero">
	  <img src="/assets/imgs/imagem-home.jpg" alt="Imagem da Home">
	  <div class="overlay-text">
		
		<p>Tudo o que você precisa de Villa Pisani, em um só lugar</p>
	  </div>
	</div>
  
	
	<div class="servicos">
	  <div class="servico-item">
		<img src="assets/imgs/avisos.png" alt="Mural de Avisos">
		<h3>Mural de Avisos</h3>
		<p>Fique por dentro de tudo que acontece no condomínio.</p>
	  </div>
	  <div class="servico-item">
		<img src="assets/imgs/contas.png" alt="Reserva de Áreas">
		<h3>Reservas</h3>
		<p>Agende o uso do salão de festas, churrasqueira e mais.</p>
	  </div>
	  <div class="servico-item">
		<img src="assets/imgs/informacoes.png" alt="Documentos">
		<h3>Documentos</h3>
		<p>Acesse balancetes, atas e regulamentos de forma simples.</p>
	  </div>
	  <div class="servico-item">
		<img src="assets/imgs/area-comum.png" alt="Contato com Administração">
		<h3>Contato</h3>
		<p>Converse diretamente com o síndico e a administração.</p>
	  </div>
	</div>
  
	
	<footer class="footer-links">
	  <app-theme-toggle></app-theme-toggle>
	  <div class="auth-links">
		<a href="/auth/login">Login</a>
		<a href="/auth/register">Registro</a>
	  </div>
	</footer>
  </section>
  