<section class="home-container">
	
	<div class="hero">
		<img src="/assets/imgs/imagem-home.jpg" alt="Imagem da Home">
		<p class="overlay-text">Tudo o que você precisa de Villa Pisani, em um só lugar</p>
	</div>

	<div class="servicos">
		<div class="servico-item">
			<app-icons name="triangle-alert" size='150' stroke="0.5" />
			<h3>Mural de Avisos</h3>
			<p>Fique por dentro de tudo que acontece no condomínio.</p>
		</div>
		<div class="servico-item">
			<app-icons name="hand-coins" size='150' stroke="0.5" />
			<h3>Contas</h3>
			<p>Acompanhe boletos e balancetes em tempo real.</p>
		</div>
		<div class="servico-item">
			<app-icons name="circle-alert" size='150' stroke="0.5" />
			<h3>Informações</h3>
			<p>Acesse facilmente regulamentos e informações.</p>
		</div>
		<div class="servico-item">
			<app-icons name="waves-ladder" size='150' stroke="0.5" />
			<h3>Reservas</h3>
			<p>Agende áreas comuns com praticidade.</p>
		</div>
	</div>


<div class="servicos">
		<div class="servico-item">
			<app-icons name="assembly" size='150' stroke="0.5" />
			<h3>Assembleia</h3>
			<p>Acompanhe quando irão acontecer as assembleias e suas ATAS.</p>
		</div>
		<div class="servico-item">
			<app-icons name="deliveries" size='150' stroke="0.5" />
			<h3>Entregas e encomendas</h3>
			<p>Confira suas entregas e encomendas.</p>
		</div>
		<div class="servico-item">
			<app-icons name="financial" size='150' stroke="0.5" />
			<h3>Financeiro</h3>
			<p>Fique por dentro das contas e boletos que você precisa pagar com um clique.</p>
		</div>
		<div class="servico-item">
			<app-icons name="ombudsman" size='150' stroke="0.5" />
			<h3>Ouvidoria</h3>
			<p>Envie e receba mensagens importantes.</p>
		</div>
	</div>
</section>
