@use 'mixins';

h1 {
	@include mixins.title-page;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	margin-top: 20px;
}

app-input {
	width: 100%;
}

#body {
	height: 150px;
}

button {
	@include mixins.button;
	width: 100%;
	margin-top: 1rem;
}
