<main>
	<h1 class="title">Mercado livre</h1>
	<div class="description">
		<div>
			<h2>Para:</h2>
			<p>Luis Henrique</p>
		</div>
		<div>
			<h2>Recebido por:</h2>
			<p>Luis Henrique</p>
		</div>
		<div>
			<h2>Status:</h2>
			<p>Luis Henrique</p>
		</div>
	</div>
	<div class="status delivered">
		<div class="bar">
			<div class="bar-progess"></div>
		</div>
		<div class="states">
			<div class="state received">
				<div class="circle"></div>
				<h1 class="text">Recebido</h1>
				<span class="time">00/00/00 00:00</span>
			</div>
			<div class="state delivered">
				<div class="circle"></div>
				<h1 class="text">Entregue</h1>
				<span class="time">00/00/00 00:00</span>
			</div>
			<div class="state confirmed">
				<div class="circle"></div>
				<h1 class="text">Confimado</h1>
				<span class="time">00/00/00 00:00</span>
			</div>
		</div>
	</div>
	<div class="btn">Marca como entregue</div>
</main>
