<main>
	<h1 class="title">{{ this.delivery.sender }}</h1>
	<div class="description">
		<div>
			<h2>Para:</h2>
			<p>{{ this.delivery.recipient }}</p>
		</div>
		<div>
			<h2>Recebido por:</h2>
			<p>{{ this.delivery.receiver }}</p>
		</div>
	</div>
	<div
		class="status"
		[class.received]="this.delivery.status === 'received'"
		[class.delivered]="this.delivery.status === 'delivered'"
		[class.confirmed]="this.delivery.status === 'confirmed'"
	>
		<div class="bar">
			<div class="bar-progess"></div>
		</div>
		<div class="states">
			<div class="state received">
				<div class="circle"></div>
				<h1 class="text">Recebido</h1>
				<span class="time">{{
					this.formatDate(this.delivery.receivedAt)
				}}</span>
			</div>
			<div class="state delivered">
				<div class="circle"></div>
				<h1 class="text">Entregue</h1>
				<span class="time">{{
					this.formatDate(this.delivery.deliveredAt)
				}}</span>
			</div>
			<div class="state confirmed">
				<div class="circle"></div>
				<h1 class="text">Confimado</h1>
				<span class="time">{{
					this.formatDate(this.delivery.confirmAt)
				}}</span>
			</div>
		</div>
	</div>
	@if(this.delivery.status === 'received' && this.isStaff()){
	<div class="btn" (click)="isOpenModalDeliveredDelivered = true">
		Marca como entregue
	</div>
	} @if(this.delivery.status === 'delivered' && this.isInhabitant()){
	<div class="btn" (click)="isOpenModalDeliveredConfirmed = true">
		Confirma entrega
	</div>
	}
</main>

@if(this.isOpenModalDeliveredDelivered && this.delivery.status === 'received' &&
this.isStaff()){
<app-modal-confirm-delivery
	[(isOpen)]="this.isOpenModalDeliveredDelivered"
	[delivery]="this.delivery"
	(isOpenChange)="modalConfirmDeliveryChange($event)"
></app-modal-confirm-delivery>
} @if(this.isOpenModalDeliveredConfirmed && this.delivery.status === 'delivered'
&& this.isInhabitant()){
<app-modal-confirm-receipt
	[(isOpen)]="this.isOpenModalDeliveredConfirmed"
	[delivery]="this.delivery"
	(isOpenChange)="modalConfirmReceiptChange($event)"
></app-modal-confirm-receipt>
}
