<main>
	<div class="header">
		<h1>Apartamentos</h1>
		<button (click)="openModalCreateBill()">Criar boletos</button>
	</div>
	<div class="apartments-list">
		<div
			class="apartment-card card-add"
			(click)="openModalCreateApartment()"
		>
			<app-icons name="plus" size="72" stroke="1" />
		</div>
		@for (apartment of apartments.slice().reverse(); track apartment.number)
		{
		<a
			[routerLink]="['/condominium/apartment', apartment.number]"
			class="apartment-card"
			key="{apartment.number}"
		>
			{{ apartment.number }}
		</a>
		}
	</div>
</main>

@if(this.IsOpenModalCreateApartment && this.isAdmin()){
<app-modal-create-apartament
	[(isOpen)]="IsOpenModalCreateApartment"
	(newApartment)="handleCreateApartment($event)"
/>
} @if(this.IsOpenModalCreateBill && this.isAdmin()){
<app-modal-create-bill [(isOpen)]="IsOpenModalCreateBill" />
}
