@use 'mixins';

main {
	margin: auto;
	margin-top: 20px;
	max-width: 800px;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.card {
	@include mixins.card-delivery;
}

.add-button {
	display: flex;
	align-items: center;
	justify-content: center;
	border-color: var(--primary-highlight-color);
	cursor: pointer;
}
