main {
	margin: auto;
	margin-top: 20px;
	max-width: 800px;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.card {
	width: 250px;
	height: 350px;
	background-color: white;
	border-radius: 5px;
	border: 1px solid transparent;
	display: flex;
	flex-direction: column;

	h1 {
		font-family: 'Montserrat', sans-serif;
		text-align: center;
		padding: 20px 0;
	}

	&.viewed {
		border-color: var(--primary-highlight-color);

		.card-content {
			background-color: var(--primary-highlight-color);
		}
	}

	&.not-viewed {
		border-color: var(--secondary-highlight-color);

		.card-content {
			background-color: var(--secondary-highlight-color);
		}
	}

	.card-content {
		color: white;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding: 0 20px;

		h2 {
			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
			font-size: 1.4rem;
		}
		p {
			padding-left: 20px;
			font-size: 1.2rem;
		}
	}
}

.add-button {
	display: flex;
	align-items: center;
	justify-content: center;
	border-color: var(--primary-highlight-color);
	cursor: pointer;
}
