<main>
	<div class="card add-button">
		<app-icons name="plus" stroke="0.4" size="72" />
	</div>
	<div class="card viewed">
		<h1>Mercado Livre</h1>
		<div class="card-content">
			<div>
				<h2>Para:</h2>
				<p>Luis Henrique</p>
			</div>
			<div>
				<h2>Recebido por:</h2>
				<p>Luis Henrique</p>
			</div>
			<div>
				<h2>Status:</h2>
				<p>Luis Henrique</p>
			</div>
		</div>
	</div>
	<div class="card not-viewed">
		<h1>Mercado Livre</h1>
		<div class="card-content">
			<div>
				<h2>Para:</h2>
				<p>Luis Henrique</p>
			</div>
			<div>
				<h2>Recebido por:</h2>
				<p>Luis Henrique</p>
			</div>
			<div>
				<h2>Status:</h2>
				<p>Luis Henrique</p>
			</div>
		</div>
	</div>
</main>
