@use 'mixins';

:host {
	position: absolute;
	height: 100vh;
	width: 100vw;
	top: 0;
	color: var(--black);
}

h1 {
	@include mixins.title-page;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
	width: 100%;
}

app-input {
	width: 100%;
}
#tags {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#description {
	width: 100%;
	height: 150px;

	margin: 10px 0;
}

button {
	@include mixins.button('rounded');
	width: 100%;
	border-radius: 500px;
	font-size: 1.2rem;
	margin-top: 10px;
}

label {
	background-color: var(--primary-highlight-color);
	width: 100%;
	color: var(--white);
	font-weight: bolder;
	border: none;
	padding: 10px;
	border-radius: 500px;
	font-size: 1.2rem;
	cursor: pointer;
	transition: background-color 0.3s;
	margin-top: 10px;
	text-align: center;
	input {
		display: none;
	}
}
