:host{
	display: block;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-image: url('/assets/imgs/auth-img.jpg');
	background-size: cover;
}

Header{
	background-color: var(--background-color-app);
	display: flex;
	align-items: center;
	padding: 0 20px;
}


Header app-icons{
	margin: 0 auto;
}

main{
	display: flex;
	justify-items: center;
	align-items: center;
	
	backdrop-filter: blur(4px);
	background-color: #0000004d;
	flex-grow: 1;
}

.forms{
	margin: auto auto;
	min-width: 600px;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 5px 17px 5px 7px rgba(0,0,0,0.1);
	background-color: var(--background-color-app);
}
