@use 'mixins';

:host {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
h1 {
	@include mixins.title-page;
}

button {
	@include mixins.button('rounded');
	max-width: 600px;
	width: 100%;
	font-weight: 500;
	font-size: 1.2rem;
}
.feedback-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	max-width: 600px;
	width: 100%;
	transition: all 0.3s ease-in-out;

	.feedback-card {
		display: flex;
		flex-direction: column;
		gap: 20px;
		max-width: 600px;
		width: 100%;
		padding: 20px;
		border-radius: 5px;
		border: 4px solid var(--primary-highlight-color);
		transition: all 0.3s ease-in-out;

		strong {
			text-align: start;
			font-weight: bolder;
			font-size: 1.4rem;
		}
	}
}
