:host {
	position: absolute;
	height: 100vh;
	width: 100vw;
	top: 0;
	color: var(--black);
}

h1 {
	font-size: 2.5rem;
	text-align: center;
	color: var(--blue-gray);
}

app-modal-base {
	display: flex;
	align-items: center;
}
.qrcode {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

button {
	background-color: var(--primary-highlight-color);
	width: 100%;
	color: var(--white);
	font-weight: bolder;
	border: none;
	padding: 10px;
	border-radius: 500px;
	font-size: 1.2rem;
	cursor: pointer;
	transition: background-color 0.3s;
	margin-top: 10px;
}
