@use 'mixins';

:host {
	position: absolute;
	height: 100vh;
	width: 100vw;
	top: 0;
	color: var(--black);
}

h1 {
	@include mixins.title-page;
	font-size: 2.5rem;
}

app-modal-base {
	display: flex;
	align-items: center;
}
.qrcode {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

button {
	@include mixins.button('rounded');
	background-color: var(--primary-highlight-color);
	width: 100%;
	font-size: 1.2rem;
	margin-top: 10px;
}
