<Header>
	<app-icons
		name="menu"
		class="open-aside"
		size="32"
		(click)="toggleSidebar()"
	/>
	<app-icons class="logo" name="logo" size="96" background="currentColor" />
	<app-theme-toggle />
</Header>
<aside class="sidebar" [class.open]="isSidebarOpen">
	<app-icons
		name="close"
		class="close-aside"
		size="32"
		(click)="toggleSidebar()"
	/>
	<h1>Menu</h1>
	<div class="sidebar-menu">
		<a class="link" [routerLink]="['/condominium/home']">Home</a>
		<a class="link" [routerLink]="['/condominium/feedback']">Ouvidoria</a>
		<a class="link" [routerLink]="['/condominium/expenses']">Contas</a>
		<a class="link" [routerLink]="['/condominium/rules']">Regras</a>
		<a class="link" [routerLink]="['/condominium/meeting']">Assembleias</a>
		@if (this.isAdmin()) {
		<a class="link" [routerLink]="['/condominium/users']">Usuarios</a>
		<a class="link" [routerLink]="['/condominium/apartments']"
			>Apartamentos</a
		>
		} @if( this.isInhabitant()) {
		<a class="link" [routerLink]="['/condominium/apartment']"
			>Meu Apartamento</a
		>
		} @if (this.isAdmin() || this.isEmployee()) {
		<a class="link" [routerLink]="['/condominium/delivery']">Entregas</a>
		}
	</div>
</aside>
<router-outlet />
