.home-container {
	display: flex;
	flex-direction: column;
	align-items: center;

	.hero {
		position: relative;
		width: 100%;
		height: 90vh;
		overflow: hidden;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			filter: brightness(70%);
		}

		.overlay-text {
			position: absolute;
			display: block;
			width: 100%;
			max-width: 600px;
			top: 30%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
			color: #fff;
			z-index: 2;
			font-size: 2.7rem;
		}
	}
}

.mural, .comunicados {
	display: flex;
	flex-direction: column;
	gap: 10px;


    .svg-mural, .svg-comunicados {
      width: 30px;
      height: 30px;
      background-color: #ccc; // espaço para o SVG
    }
  

  .cards-container {
	display: flex;
    gap: 1rem;

    .card {
      background: #fff;
      border: 2px solid #f0c36d;
      border-radius: 10px;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 200px;
      transition: border-color 0.3s ease;
	  flex: none;
	  width: 250px;

      .card-content {
        p {
          font-size: 1rem;
          font-weight: 500;
          margin-bottom: 0.5rem;
        }

        small {
          font-size: 0.75rem;
          color: #777;
        }
      }

      .svg-lupa {
        margin-top: auto;
        align-self: flex-end;
        width: 20px;
        height: 20px;
        background-color: #ccc; // espaço para o SVG
      }

      &:hover {
        border-color: #18726e; // verde no hover
      }
    }

    .leia-mais {
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-weight: bold;
      text-align: center;
      transition: border-color 0.3s ease;
      
      p {
        margin: 0;
      }

      &:hover {
        border-color: #18726e;
      }
    }
  }
}

