<section class="home-container">
	
	<div class="hero">
		<img src="/assets/imgs/imagem-home.jpg" alt="Imagem da Home">
		<p class="overlay-text">Tudo o que você precisa de Villa Pisani, em um só lugar</p>
	</div>

  <section class="mural">
    <h2>
      <app-icons name="board" size = '200' />
    </h2>

    <div class="cards-container">
      <div class="card">
        <div class="card-content">
          <p><!-- conteúdo do backend --></p>
          <small><!-- data --></small>
        </div>
        <app-icons name="magnifier" />
      </div>

      <div class="card">
        <div class="card-content">
          <p></p>
          <small></small>
        </div>
        <app-icons name="magnifier" />
      </div>

      <div class="card">
        <div class="card-content">
          <p></p>
          <small></small>
        </div>
        <app-icons name="magnifier" />
      </div>

      <div class="card">
        <div class="card-content">
          <p></p>
          <small></small>
        </div>
        <app-icons name="magnifier" />
      </div>

      <div class="card leia-mais">
        <p>Leia mais</p>
      </div>
    </div>
  </section>

  <section class="comunicados">
    <h2>
      <app-icons name="personalstatement" size = '250' />
    </h2>

    <div class="cards-container">
      <div class="card">
        <div class="card-content">
          <p></p>
          <small></small>
        </div>
        <app-icons name="magnifier" />
      </div>

      <div class="card">
        <div class="card-content">
          <p></p>
          <small></small>
        </div>
        <app-icons name="magnifier" />
      </div>

      <div class="card">
        <div class="card-content">
          <p></p>
          <small></small>
        </div>
        <app-icons name="magnifier" />
      </div>

      <div class="card">
        <div class="card-content">
          <p></p>
          <small></small>
        </div>
        <app-icons name="magnifier" />
      </div>

      <div class="card leia-mais">
        <p>Leia mais</p>
      </div>
    </div>
  </section>

</section>
