@use 'mixins';

:host {
	position: absolute;
	height: 100vh;
	width: 100vw;
	top: 0;
	color: var(--black);
}

h1 {
	@include mixins.title-page;
	font-size: 2.5rem;
}

div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 10px;
	margin-top: 20px;
}

.close {
	@include mixins.button('rounded');
	width: 100%;
	font-size: 1.2rem;
}
.remove {
	@include mixins.button('bordered');
	width: 100%;
	font-size: 1.2rem;
}
